@import url("fonts/Roboto.css");
@import url("fonts/RobotoFlex.css");
:root {
  --colour_bg: #0f0f1a;
  --colour_bg2: #2f2f2f;
  --colour_fg: #fafaff;
  --colour_fg2: #f0f0fa;
  --colour_acc: #a65dff;
}
body {
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    margin: 0;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0px;
    background-color: var(--colour_bg) ;
    color: var(--colour_fg);
    font-size: 20px;
    background-image: radial-gradient(rgba(255, 255, 255, 0.25) 1px, transparent 1px);
    background-size: 16px 16px;
    background-attachment: fixed;
}
p {

}
marquee {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}
h1 {
    font-family: 'Roboto Flex',sans-serif;
    font-stretch: 120%;
    font-weight: 400;
    font-size: calc(48px + 44 * ((100vw - 768px) / 1152));
    margin-bottom: 0px;
}
h2 {
    font-family: 'Roboto Flex',sans-serif;
    font-stretch: 120%;
    font-weight: 400;
    margin-bottom: 12px;
    font-size: calc(18px + 44 * ((100vw - 768px) / 1152));
}

.tile h1 {
    font-family: 'Roboto Flex',sans-serif;
    font-stretch: 120%;
    font-weight: 400;
    font-size: calc(32px + 44 * ((100vw - 768px) / 1152));
    margin-bottom: -25%;
}
.left {
    text-align: left;
    width: 50%;
}
.right {
    text-align: left;
    margin-left: 50%;
    width: 50%;
}
.tw {
    width: 33% !important;
}
#headerbar {
    text-align: center;

    position: sticky;
    top: 32px;
    background: transparent;
    border-bottom: 0px var(--colour_fg) solid;
    font-family: 'Roboto Flex',sans-serif;
    font-stretch: 160%;
    font-weight: 700;
    font-size: 32px;
    color: var(--colour_fg);
    z-index: 100;
    margin-bottom: 64px;
    transition: font-size 0.1s, padding 0.1s;
}
.card {
    background-color: var(--colour_fg);
    flex: 100%;
    padding: 32px;
    margin: 8px;
    border-radius: 16px;
    text-align: center;
    font-family: 'Roboto Mono',sans-serif;
    font-stretch: 120%;
    font-weight: 400;
    font-size: 24px;

}
.card-tp {
    flex: 100%;
    padding: 32px;
    margin: 8px;
    
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center !important;
    margin-bottom: 32px;
    background-color: #00000000;
    border: 0px white solid;

}
.full {
  width: 100%;
}
.tiles-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
}
.tile {
  padding: 0;
  margin: 1%;
  display: inline-block;
  color: var(--colour_bg);
  background-color: var(--colour_acc);
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
  font-size: 20px;
  border: 2px transparent solid;
  cursor: pointer;
  transition: transform 0.1s;
  transition-timing-function: ease-out;
  border-radius: 1px;
  
  width: 15vw;
  height: 15vw;
}
.tile:after {
  transition: opacity 0.1s;
  transition-timing-function: ease-out;
  opacity: 0;
  background-image: linear-gradient(135deg,rgba(255,255,255,0.5),transparent);
}
.tile:hover {
  border: 2px var(--colour_fg) solid;
  color: var(--colour_fg);
  transform: scale(1.05);
  z-index: 50;
}

.tile:hover:after {
  opacity: 1;
}


.tile:active {
  border: 2px var(--colour_fg) solid;
  color: var(--colour_fg);
  transform: scale(0.9);
}


.footer {
    width: 100%;
    padding: 0px;
    border-radius: 0px;
    margin-top: 128px;
    text-align: center;
    font-family: 'Roboto Mono',sans-serif;
    font-stretch: 120%;
    font-weight: 400;
    font-size: 18px;
    color: --var(--colour_fg);
}
.nobr {
    display: inline-block;
}
.3q {
    width: 75%;
}
img {
    mix-blend-mode: normal !important;
    padding: 0;
    border: 0;
    margin: 0;
    
}
.links {
    text-align: center;
    display: block;
    justify-content: center !important;
    transform: translate(0,0);
    position: absolute;
    top: 0;
    right: 0;
    padding: 32px 64px;
    font-weight: 400;
    
}
a {
    font-weight: 600;
    margin: 4px;
    color: unset;
    text-decoration: none;
    border-radius: 0px;
    /*transition: background 0.1s, color 0.1s;*/
    padding: 0;
}
span {
    margin: 4px;
}
a:hover {

    border-bottom: solid 4px var(--colour_acc);
}
a:active {
    color: var(--colour_acc);
    border-bottom: solid 4px var(--colour_acc);
}
