@import url("fonts/Roboto.css");
@import url("fonts/RobotoFlex.css");
@import url("fonts/RobotoMono.css");
:root {
  --colour_bg: #0f0f1a;
  --colour_bg2: #2f2f2f;
  --colour_fg: #fafaff;
  --colour_fg2: #f0f0fa;
  --colour_acc: #a65dff;
}
body {
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    margin: 0;
    padding-bottom: 64px;
    margin-top: 0px;
    background-color: var(--colour_bg) ;
    color: var(--colour_fg);
    font-size: 20px;
    background-image: radial-gradient(rgba(127, 127, 127, 0.25) 1px, transparent 1px);
    background-size: 16px 16px;
    background-attachment: fixed;
}
p {

}

#sidebar{
  margin-left: 0px;
  width: 160px;
  position: fixed;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--colour_acc) ;
  color: var(--colour_bg);
  height: 100vh;
  text-align: center;
}

#main {
  margin-left: calc(5% + 160px);
  margin-right: 5vw;
}

marquee {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}
h1 {
    font-family: 'Roboto Flex',sans-serif;
    font-stretch: 120%;
    font-weight: 400;
    font-size: calc(48px + 44 * ((100vw - 768px) / 1152));
    margin-bottom: 0px;
}
h2 {
    font-family: 'Roboto Flex',sans-serif;
    font-stretch: 120%;
    font-weight: 400;
    margin-bottom: 12px;
    font-size: calc(18px + 44 * ((100vw - 768px) / 1152));
}

.tile h1 {
    font-family: 'Roboto Flex',sans-serif;
    font-stretch: 120%;
    font-weight: 400;
    font-size: calc(32px + 44 * ((100vw - 768px) / 1152));
    margin-bottom: -25%;
}
.left {
    text-align: left;
    width: 50%;
}
.right {
    text-align: left;
    margin-left: 50%;
    width: 50%;
}
.tw {
    width: 33% !important;
}
#headerbar {
    


    top: 32px;
    background: transparent;
    border-bottom: 0px var(--colour_fg) solid;
    font-family: 'Roboto Flex',sans-serif;
    font-stretch: 160%;
    font-weight: 700;
    font-size: 32px;
    
    z-index: 100;

    transition: font-size 0.1s, padding 0.1s;
}
.card {
    background-color: var(--colour_fg);
    flex: 100%;
    padding: 32px;
    margin: 8px;
    border-radius: 16px;
    text-align: center;
    font-family: 'Roboto Mono',sans-serif;
    font-stretch: 120%;
    font-weight: 400;
    font-size: 24px;

}
.card-tp {
    flex: 100%;
    padding: 32px;
    margin: 8px;
    
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center !important;
    margin-bottom: 32px;
    background-color: #00000000;
    border: 0px white solid;

}
.full {
  width: 100%;
}
.tiles-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
}
.tile {
  padding: 0 128px 32px 8px ;
  margin: 1%;
  position: relative;
  display: inline-block;
  color: var(--colour_bg);
  background-color: var(--colour_acc);
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
  font-size: 20px;
  border: 2px transparent solid;
  cursor: pointer;
  transition: transform 0.1s;
  transition-timing-function: ease-out;
  border-radius: 8px;
  outline: none;
  text-align: left;
  width: 15vw;
  height: 8vw;
}
.tile:after {
  position: absolute;
  top: -32px;
  left: -32px;
  width: 15vw;
  height: 8vw;
  content: ' ';
  border: 32px transparent solid;
  outline: 2px transparent solid;
  transition: outline 0.1s, border 0.1s, margin 0.1s, left 0.1s, top 0.1s;
  border-radius: 16px;
  opacity: 0.75;
}
.tile:hover {
  border: 2px var(--colour_fg) solid;
  color: var(--colour_fg);
  transform: scale(1.05);
  z-index: 50;
}


.tile:focus:after{
  border: 8px transparent solid;
  outline: 2px var(--colour_acc) solid;
  top: -10px;
  left: -10px;
}

.tile:active {
  border: 2px var(--colour_fg) solid;
  color: var(--colour_fg);
  transform: scale(0.9);
}


.footer {
    width: 100%;
    padding: 0px;
    border-radius: 0px;
    margin-top: 128px;
    text-align: center;
    font-family: 'Roboto Mono',monospace;
    font-stretch: 120%;
    font-weight: 400;
    font-size: 18px;
    color: --var(--colour_fg);
}

frame {
  border: 1px black solid !important;
}
.nobr {
    display: inline-block;
}
.3q {
    width: 75%;
}
img {
    mix-blend-mode: normal !important;
    padding: 0;
    border: 0;
    margin: 0;
    
}
.links {
    text-align: center;
    display: block;
    justify-content: center !important;
    transform: translate(0,0);
    position: absolute;
    top: 0;
    right: 0;
    padding: 32px 64px;
    font-weight: 400;
    
}
.link {
    font-weight: 600;
    margin: 4px;
    color: unset;
    text-decoration: none;
    border-radius: 0px;
    /*transition: background 0.1s, color 0.1s;*/
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    position: relative;
    justify-content: center;
    align-items: center;
}
span {
    margin: 4px;
}
.link:hover {

    border-bottom: solid 4px var(--colour_acc);
}
.link:active {
    color: var(--colour_acc);
    border-bottom: solid 4px var(--colour_acc);
}
.sidelink {
  font-weight: 600;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  background: none;
  border: none;
  color: var(--colour_bg);
  display: flex;
  height: 64px !important;
  width: 160px; !important;
  margin: 32px auto;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  
  
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
  outline: 2px transparent solid;
}
.sidelink:after {
  position: absolute;

  height: 64px !important;
  width: 160px; !important;
  content: ' ';
  border: 8px transparent solid;
  outline: 2px transparent solid;
  transition: outline 0.1s, border 0.1s, margin 0.1s;
  border-radius: 9px;
  opacity: 0.75;

}
.link:after {
  opacity: 0.75;
  position: absolute;
  width: 100%;
  height: 100%;
  content: ' ';
  border: 16px transparent solid;
  outline: 2px transparent solid;
  transition: outline 0.1s, border 0.1s, margin 0.1s, left 0.1s, top 0.1s;
  left: -16px;
  top: -12px;
  border-radius: 8px;
}
.link:focus:after{
  border: 8px transparent solid;
  outline: 2px var(--colour_acc) solid;
  left: -8px;
  top: -8px;
}
.link:focus {
  outline: none;
}
.sidelink:hover {
 cursor: pointer;
 background: var(--colour_bg);
  color: var(--colour_acc);
}
.sidelink:focus:after {
  border: 2px transparent solid;
  outline: 2px var(--colour_bg) solid;

}
.sidelink:active {
  cursor: pointer;
  
}
.sidelink:focus {
  
}


.sidelink:hover {

    
}
.sidelink:active {


    
}
